<a href="https://colab.research.google.com/github/rodeu123/20232.rd/blob/main/251117.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

#inteager
x = 3
print("정수:%01d, %02d, %03d, %04d, %05d" % (x,x,x,x,x))

#float
x=256.123
printf("실수: %0f, %.1f, %.2f"%(x,x,x))

#string
x="hello world"
print("문자열: [%s]"%(x))

hello world
정수:3, 03, 003, 0003, 00003
실수: 256.123000, 256.1, 256.12
문자열: [hello world]

In [ ]:
contents = ["regression", "classification", "SYM", "Clustering", "Dimension reducion",
            "NN", "CNN", "AE", "GAN", "RNN"]

for con in contents:
  if con in ["regression", "classification", "SYM", "Clustering", "Dimension reducion"]
    print ("%s은(는) 기계학습 내용입니다." %con)
  elif con in ["CNN"]:
    print("%s은 convolutional neual network입니다"%con)
  else:
    print("%s은 심층학습 내용입니다" %con)

In [ ]:
for (i,con) in enumerate(contents):
  print("[%d/%d]: %s"%(i,len(contents),con))

In [ ]:
def sum(a,b):
  return a+b

x=10.0
y=20.0
print("%.1f + %.1f = %.1f" %(x,y,sum(x,y)))

In [ ]:
a = []
b= [1,2,3]
c = ["hello world"]
d = [1,2,3,"x","y","z"]
x = []
print(x)

x.append('a')
print(x)

x.append(123)
print (x)

x.append(["a","b"])
print (x)

In [ ]:
dic = dict()
dic["name"] = "hajin"
dic["town"] = "sungnam"
dic["job"] = "student"
print (dic)

In [ ]:
class student
  #생성자
  def _init_(self,name):
    self.name = name
  #메써드
  def study(self, hard=Flase):
    if hard:
      print ("%s 학생은 열심히 공부합니다." %self.name)
    else:
      print ("%s 학생은 공부합니다." %self.name)

s = Student('hajin')
s.study()
s.study(hard=True)

In [ ]:
import numpy as np

def print_val(x):
  print ("Type:",type(x))
  print ("Shape:",x.shape)
  print ("값:\n", x)
  print (" ")

In [ ]:
x = np.array([1,2,3])
print_val(x)

x[0]
print_val(x)

In [ ]:
y = np.array([[1,2,3],[4,5,6]])
print_val(y)

In [ ]:
a = np.ones((3,2))
print_val(a)

In [ ]:
a = np.zeros((2,2))
print_val(a)

In [ ]:
a = np.eyes((3,2))
print_val(a)

In [ ]:
a = np.random.random((4,4))
print_val(a)

In [ ]:
a = np.random.randn(4,4)
print_val(a)

In [ ]:
a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print_val(a)

b = a[:2, 1:3] #행 0~1 열 1~2
print_val(b)

row1 = a[1, :] #1번째 행
print_val(row1)

In [ ]:
m1 = np.array([[1,2] ,[3,4]], dtype=np.float64)
m2 = np.array([[5,6],[7,8]], dtype=np.float64)
print_val(m1 + m2)
print_val(np.add(m1,m2))

In [ ]:
print_val(m1 - m2)
print_val(np.subtract(m1,m2))

print_val(m1 * m2)
print_val(np.multiply(m1,m2))

In [ ]:
print_val(m1/m2)
print_val(np.divide(m1,m2))

print_val(np.sqrt(m1))

In [ ]:
m1 = np.array([[1,2],[3,4]])
m2 = np.array([[5,6],[7,8]])
v1 = np.array([9.10])
v2 = np.array([11,12])

print_val(m1)
print_val(m2)
print_val(v1)
print_val(v2)

In [ ]:
print_val(v1.dot(v2))
print_val(np.dot(v1,v2))

In [ ]:
print_val(m1.dot(v1))
print_val(np.dot(m1,v1))

In [ ]:
print_val(m1.dot(m2))
print_val(np.dot(m1,m2))

print_val(m1)
print_val(m1.T)

In [ ]:
print_val(np.sum(m1))
print_val(np.sum(m1, axis=0))
print_val(np.smax(m1))

In [ ]:
m1 = np.array([[1,2,3],[4,5,6]])
print m1
print m1.shape

print np.sum(m1)
print np.sum(m1, axis=0)
print np.sum(m1, axis=1)

In [ ]:
m1 = np.array([[1,2,3],
               [4,5,6],
               [7,8,9],
               [10,11,12]])
m2 = np.zeros_like(m1)
print_val(m1)
print_val(m2)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

#sin커브
x = np.arange(0,10,0.1)
y = np.sin(x)

plt.plot(x,y)

In [ ]:
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.plot(x,y_sin)
plt.plot(x,y_cos)
plt.xlabel('x axis label')
plt.ylabel('y axis label')
plt.title('sin and cos')
plt.legend(['sin','cos'])

plt.show()

In [ ]:
plt.subplot(2,1,1)
plt.plot(x,y_sin)
plt.title('sin')

plt.subplot(2,1,2)
plt.plot(x,y_cos)
plt.title('cos')

plt.show